<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<div th:fragment="alert" class="content-alert">
    <div th:if="${!#lists.isEmpty(flashMessageList)}"
         th:each="flashMessage : ${flashMessageList}"
         th:with="
                    flashMessageSplitted=${#strings.arraySplit(flashMessage,'§')},
                    isSuccess=${T(it.jump3.demo.web.FlashMessageTypeEnum).SUCCESS.getValue() == flashMessageSplitted[1]},
                    isWarning=${T(it.jump3.demo.web.FlashMessageTypeEnum).WARNING.getValue() == flashMessageSplitted[1]},
                    isInfo=${T(it.jump3.demo.web.FlashMessageTypeEnum).INFO.getValue() == flashMessageSplitted[1]},
                    isDanger=${T(it.jump3.demo.web.FlashMessageTypeEnum).DANGER.getValue() == flashMessageSplitted[1]}
                    "
         class="alert alert-dismissable alert-info">

        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <span th:if="${isSuccess}" class="fas fa-check"/>
        <span th:if="${isWarning}" class="fas fa-warning"/>
        <span th:if="${isInfo}" class="fas fa-info"/>
        <span th:if="${isDanger}" class="fas fa-ban"/>

        <span class="span-alert" th:text="${flashMessageSplitted[2]}"/>

    </div>
</div>
</body>
</html>



